$nav-size: 50px !default;

.navigation {
  background: $c-action;
  color: $c-action-text;
  position: relative;
  margin-bottom: 20px;

  &__top {
    display: flex;
    flex-direction: row;
    max-width: $b-container;
    margin: 0 auto;
  }

  &__title {
    flex: 1;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__sides {
    display: flex;
    flex: 0;
    align-self: center;
    width: $nav-size;
    height: $nav-size;
  }

  &__button {
    display: inline-block;
    line-height: $nav-size;
    padding: 0 18px;
    color: $c-action-text;

    &:hover {
      background: darken($c-action, 10);
      color: $c-action-text;
    }
  }

  &__menu {
    &List {
      background: darken($c-action, 10);
      margin: 0;

      & & {
        margin: 0 20px;
      }
    }

    &Item {
      max-width: $b-container;
      margin: 0 auto;
      list-style: none;
    }

    &Link {
      display: block;
      padding: 10px;
      color: $c-action-text;
      border-bottom: 1px solid $c-action;

      &.isActive,
      &:hover {
        background: $c-action;
        color: $c-action-text;
      }
    }
  }
}
