$c-primary: #111111 !default;
$c-primary-bg: #fafafa !default;
$c-action: #2a69b5 !default;
$c-action-text: #fafafa !default;
$c-border: #b4b4b4 !default;
$c-ok: #48875a !default;
$c-error: #bb3131 !default;

$s-field-icon-size: 40px !default;
