$b-xs: 480px;
$b-s: 768px;
$b-m: 1024px;
$b-l: 1280px;

$c-primary: #111111;
$c-primary-bg: #f4f4f4;
$c-action: #2a69b5;
$c-action-text: #f4f4f4;

$f-primary: "Helvetica Neue", Arial, sans-serif;
$f-primary-size: 16px;
