@mixin button() {
  .button {
    $this: &;

    padding: 10px;
    margin: 0;
    border: 0;
    background: $c-action;
    font-size: inherit;
    color: $c-action-text;
    display: inline-block;
    cursor: pointer;

    &--isPressed,
    &:active,
    &:hover,
    &:focus {
      background: darken($c-action, 10);
    }

    &--secondary {
      background: $c-action-secondary;

      &--isPressed,
      &:active,
      &:hover,
      &:focus {
        background: darken($c-action-secondary, 10);
      }
    }

    &Group {
      text-align: right;
      margin-bottom: 20px;

      .button {
        margin-right: 2px;
      }
    }

    .svg-inline--fa {
      padding-right: 5px;
    }
  }
}
