@mixin container() {
  .container, .containerText {
    margin: 0 auto;
    padding: 0 10px;
  }

  .container {
    max-width: $b-container;
  }

  .containerText {
    max-width: $b-container-text;
  }

  .hideAccessible {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
