.dropdown {
  &__input {
    cursor: pointer;
  }

  &__list {
    list-style: none;
    margin: 0;
    background: $c-primary-bg;
  }

  &__link {
    padding: 10px;
    display: block;
    border-bottom: 1px solid $c-border;

    &:focus,
    &:hover {
      background: lighten($c-action, 50);
    }
  }

  .field__icon--valid,
  .field__icon--invalid {
    right: $s-field-icon-size;
  }
}
