$s-field-icon-size: 30px;

.field {
  $this: &;

  position: relative;

  &,
  &__label,
  &__labelSpan {
    display: block;
  }

  & {
    margin-bottom: 15px;
  }

  &__label {
    margin-bottom: 5px;
  }

  &__input {
    margin: 0;
    padding: 10px;
    border: 1px solid $c-border;
    font-size: inherit;
    line-height: inherit;
    width: 100%;

    &:hover,
    &:focus {
      border-color: $c-action;
    }

    #{$this}--error & {
      border-color: $c-error;
    }

    &Wrapper {
      position: relative;
      margin-bottom: 3px;
    }
  }

  &__icon {
    position: absolute;
    width: $s-field-icon-size;
    height: $s-field-icon-size;
    top: calc(50% - #{($s-field-icon-size / 2)});
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $c-action;
    font-size: 1.2rem;

    &--valid {
      color: $c-ok;
    }

    &--invalid {
      color: $c-error;
    }
  }

  &__msg {
    font-style: italic;
    font-size: 0.9rem;

    &--error {
      color: $c-error;
    }
  }
}
